.div.genbutton.text-center {
  flex: 1;
}
/* .table.table-bordered{
    flex:1
} */
/* tr {
    line-height: 15px;
    min-height: 15px;
    height: 15px;
 } */
table {
  border: 1px solid lightgray;
  width: fit-content;
}
table tr {
  background-color: silver;
  text-align: center;
  padding: 1px;
}
table td {
  /* width: 40px; */
  border: 1px dotted silver;
  /* word-break: break-all; */
}
/* body {
    height: 800px;
} */
/* .table100, .row, .container, .table-responsive, .table-bordered  {
    height: 100%;
} */
/* div{
    flex:1
} */
